@using Ecommerce.Models
@model Ecommerce.Models.Product
<hr>
<h1>Welcome to product management </h1>
<div class="new">
    <h3>Add a new product</h3>
    <form asp-controller="Product" asp-action="NewProduct" method="post">
            <p class="error">@ViewData["error"]</p>
            <span class="error" asp-validation-for="Name"></span></br>
            <label asp-for="Name"></label></br></br>
            <input asp-for="Name"/>
            <span class="error" asp-validation-for="Quantity"></span></br>
            <label asp-for="Quantity"></label></br></br>
            <input asp-for="Quantity"/>
            <span class="error" asp-validation-for="ImageUrl"></span></br>
            <label asp-for="ImageUrl"></label></br></br>
            <input asp-for="ImageUrl"/>
            <span class="error" asp-validation-for="Description"></span></br>
            <label asp-for="Description"></label></br></br>
            <textarea   asp-for="Description" cols="40" rows="5"></textarea></br>
            <button type="submit">Create a new product</button>
        </form><br><br>
</div>
<div class="list-table">
@if(@ViewBag.products!=null)
{
    @foreach(Product product in @ViewBag.products)
    {
        <div class="pitem">
            <a href="/product/@product.ProductId">
                <img class="pimg" src="@product.ImageUrl" alt="">
            </a>
            <h4 class="ptext">@product.Name</h4>
            <h4 class="ptext">(@product.Quantity &nbsp left) </h4>
        </div>
    }
    @*if(@ViewBag.products.Count>10)
    {
        for(int i=0;i<10;i++)
        {
            <p> @ViewBag.products[i].Name</p>
        }
    }*@
}
</div>



