@{
    ViewData["Title"] = "Home Page";
}
@using Ecommerce.Models
@model Ecommerce.Models.ModelBundle
<hr>
<h1>Dashboard of e commerce</h1>
<div class="popular">
    <h2> Recent products</h2>
    @if(@Model.products!=null)
    {
        @foreach(Product product in @Model.products)
        {
            <div class="pitem">
                <a href="/product/@product.ProductId">
                    <img class="pimg" src="@product.ImageUrl" alt="">
                </a>
                <h4 class="ptext" >@product.Name</h4>
                <h4 class="ptext">(@product.Quantity &nbsp left) </h4>
            </div>
        }
    }
    <br>
    <a class="more" href="/products">Show More</a>
    <h2>Recent Orders</h2>
    @if(@Model.orders!=null)
    {
        <ul>
        @foreach(string purchase in @Model.orders)
        {
            <li>@purchase</li>
        }
        </ul>
    }
    <a a class="more" href="/orders">Show All Orders</a>
    <h2>New Customers</h2>
    @if(@Model.customers_activity!=null)
    {
        <ul>
        @foreach(string activity in @Model.customers_activity)
        {
            <li>@activity</li>
        }
        </ul>
    }
    <a a class="more" href="/customers">Show All Customers</a>
</div>